.test-component {
  background-color: #FFFFFF;
}
/* body {
  background-color: #FFFFFF;
}
.container {
  background-color: #FFFFFF;
  background-size: auto;
  min-height: 100vh;
  color: black;
  padding-top: 0%;
}
.container i {
  margin: 2px;
  padding: 5px;
  float: left;
  color: black;
  font-size: 2.0rem;
}
.container ul {
  list-style: none;
  margin: 0;
}
.container .container-item {
  display: block;
  overflow: hidden;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0 8vw;
  font-size: 16px;
  
}
.container-item>span {
  min-height: 30px;
  align-items: center;
  vertical-align: middle;
}
.container-item .item-value {
  float: left;
  color: #000;
}
.container-item .item-count {
  margin-left: auto;
  color: #999;
}
.container-slide {
  width: 90%;
  margin: 5px;
  min-height: 30px;
  align-items: center;
  
  flex-flow: row wrap;
} */
/* .container>.selected-item-list>ul>li>span.selected-item {
  width: ;
} */
/* .half-circle-left {
  background-color: #bbbbbb;
  width: 15px;
  height: 10px;
  border-radius: 150px 0 0 150px;
} */
ul.tag {
  display: flex;
  border-top: 0px;
  border-bottom: 0px solid;
  padding: 5px 2px 5px 2px;
}
ul.tag li.tag-item {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  border: 0px;
}
ul.tag li.tag-item>span.tag-item-name {
  background-color: #bbbbbb;
  font-size: 18px;
  font-weight: normal;
  /* width: 15px;
  height: 10px; */
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
}
.container ul.bottom-button-set {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container ul.bottom-button-set>li {
  width: 100%;
}
.container ul.bottom-button-set>li button {
  width: 95%;
  align-content: center;
}
/* .half-circle-right {
  background-color: #bbbbbb;
  width: 15px;
  height: 10px;
  border-radius: 0 150px 150px 0;

} */