/* header */
header.header-wrap {
  background-color: #FFFFFF;
  display: flex;
  width: 100%;
  height: 60px;
}

.header-wrap .header-left {
  flex-basis: 20%;
  padding: 10px;
}
.header-left i {
  margin: 2px;
  float: left;
  color: black;
  font-size: 2.0rem;
}
.header-wrap .header-title {
  flex-basis: 60%;
  padding: 20px 15%;
  font-size: 20px;
  font-weight: bold;
}
.header-wrap .header-right {
  flex-basis: 20%;
}

/* container */
.container {
  min-height: 100vh;
  background-color: #FFFFFF;
}
.container ul {
  list-style: none;
  padding: 0 20px 0 20px;
  margin: 0;
}
.container ul>li {
  line-height: 70px;
  font-weight: bold;
  border-bottom: 1px solid;
}
.container ul>li .container-item-manufact-span {
  display: inline-block;
  
}
.container ul>li .container-item-manufact-span.title {
  /* content: "";
  position: absolute;
  left: 15px;
  top: 6px;
  width: 62px;
  height: 50px;
  background: url("/public/image/spr_manufacturer.png") no-repeat 0 0;
  background-size: 558px auto */
  width: 70%;
  font-size: 20px;
  align-items: center;
}
.container-item-manufact-span.count {
  width: 30%;
  text-align: right;
}
.container ul>li#li_0 {

}
.container ul>li#li_1 {
  border-bottom: 0px;
}
.container ul>li#li_2 {
  border-bottom: 0px;
}
.container ul>li#li_3 {
}
.container ul>li .container-item-span {
  display: inline-block;
  width: 30%;
  
}
.container ul>li .container-item-btn {
  display: inline-block;
  width: 68%;
  text-align: right;
  
}
.container ul>li.li-slide {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
.container-item.service {
  line-height: 130px;
  display: inline-block;
  width: 100%;
  border: 1px solid;
}

.container-item-service {
  display: inline-block;
  width: 100%;
}
.container-item-service .slide-left-item {
  display: inline-block;
  width: 48%;
  
}
.container-item-service .slide-right-item {
  display: inline-block;
  width: 49%;
  text-align: right;
  
}
.container-item-service .slide-item {
  display: inline-block;
  width: 100%;
  text-align: center; 
}
.container ul>li>ul {
  padding-left: 20px;
}
.container ul>li>ul>li {
  background: #f5f5f5;
}
.container ul>li>ul>li>span.model-name::before{
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid #999999;
  border-width: 0 0 1px 1px;
  content : '';
}
.container ul>li>ul>li>span.model-name {
  font-size: 15px;
}
.container ul>li>ul>li>span.model-year {
  font-size: 12px;
  color: #999999;
}

.container ul.area>li>div.align-items-center {
  display: flex;
}
.p-hidden-accessible {
  line-height: 50px;
  align-items: center;
}